a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.image {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.image img {
    height: 300px;
}

.itemsContainer {
    position:relative;
    float:left;

    margin: 20px;
    border: 5px solid white;
}

.itemsContainer:hover .play{
    display:block;
}

.itemsContainer:hover a.darken img{
    opacity: 0.4;
}

.play{
    position : absolute;
    display:none;
    top:45%; 
    width:50px;
    margin:0 auto;
    left:0px;
    right:0px;
    z-index:100
} 

#title {
    background-color: rgba(0,0,0,.15);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

nav {
    margin: 0px;
    background-color: black;
}

body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
}

h1 {
    margin: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;  
}

a {
    color: #f9be03;
    font-family: 'Open Sans', sans-serif; 
}

.button {
    background-color: #f9be03;
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
}

#id01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav h1 {
    text-align: center;
}